In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
tfid=TfidfVectorizer(smooth_idf=False)
doc=["This is an example","We will see how it works","IDF can be confusing."]
doc_vector=tfid.fit_transform(doc)
#print(tfid.get_feature_names())
df=pd.DataFrame(doc_vector.todense(),columns=tfid.get_feature_names())
df
#print(doc_vector)

,an,be,can,confusing,example,how,idf,is,it,see,this,we,will,works
0,0.5,0.0,0.0,0.0,0.5,0.000000,0.0,0.5,0.000000,0.000000,0.5,0.000000,0.000000,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.408248,0.0,0.0,0.408248,0.408248,0.0,0.408248,0.408248,0.408248
2,0.0,0.5,0.5,0.5,0.0,0.000000,0.5,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000

In [2]:
#Using function
def text_matrix(message,countvect):
    terms_doc=countvect.fit_transform(message)
    return pd.DataFrame(terms_doc.toarray(),columns=countvect.get_feature_names())

In [3]:
# We will call function created earlier
feb_message=["What is covid covid",
            "covid is nothing",
            "covid cases are dropping"]
#tf=TfidfVectorizer()
#Passing same text with Tf-IDF
#text_matrix(feb_message,tf)

In [4]:
tf=TfidfVectorizer()

In [5]:
text_matrix(feb_message,tf)

        are     cases     covid  dropping        is   nothing      what
0  0.000000  0.000000  0.684993  0.000000  0.441027  0.000000  0.579897
1  0.000000  0.000000  0.425441  0.000000  0.547832  0.720333  0.000000
2  0.546454  0.546454  0.322745  0.546454  0.000000  0.000000  0.000000

In [6]:
jul_message=["What is that covid covid",
            "covid is bad"]
text_matrix(jul_message,tf)

        bad     covid        is      that      what
0  0.000000  0.668501  0.334251  0.469778  0.469778
1  0.704909  0.501549  0.501549  0.000000  0.000000

In [7]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [8]:
arr=["Car was cleaned by Jack",
    "Jack was cleaned by Car"]
vectorizer=CountVectorizer(ngram_range=(2,2))
X=vectorizer.fit_transform(arr)
print("Feature names \n",vectorizer.get_feature_names())
print('Array \n',X.toarray())

Feature names
 ['by car', 'by jack', 'car was', 'cleaned by', 'jack was', 'was cleaned']
Array
 [[0 1 1 1 0 1]
 [1 0 0 1 1 1]]

In [9]:
vectorizer=TfidfVectorizer(ngram_range=(2,2),norm=None)
x=vectorizer.fit_transform(arr)
print(x.toarray())

[[0.         1.40546511 1.40546511 1.         0.         1.        ]
 [1.40546511 0.         0.         1.         1.40546511 1.        ]]